@{
    ViewData["Title"] = "Athletes";
}

@model ParticipantsModel

<div class="container">
    <h1 class="mb-5">List of all participating athletes</h1>

    @using (Html.BeginForm("SortAthletes", "Home", FormMethod.Post))
    {
        <div class="d-flex mb-3">
            <p class="col-md-2 font-weight-bold">Sort by: </p>
            <div class="col-md-2">
                @Html.DropDownListFor(x => x.OrderBy, new SelectList(Model.OrderByList), null, new { @class = "form-control" })
            </div>
            <div>
                <input type="submit" value="Go" class="btn btn-outline-dark" />
            </div>
        </div>
        @for (int i = 0; i < Model.AllAthletes.Count(); i++)
        {
            @Html.HiddenFor(x => x.AllAthletes[i].Id)
            @Html.HiddenFor(x => x.AllAthletes[i].FirstName)
            @Html.HiddenFor(x => x.AllAthletes[i].LastName)
            @Html.HiddenFor(x => x.AllAthletes[i].Country)
            @Html.HiddenFor(x => x.AllAthletes[i].CountryName)
            @Html.HiddenFor(x => x.AllAthletes[i].Sport)

            @for (int a = 0; a < Model.AllAthletes[i].Sports.Count(); a++)
            {
                @Html.HiddenFor(c => c.AllAthletes[i].Sports[a])
            }
            @for (int b = 0; b < Model.AllAthletes[i].SportsNames.Count(); b++)
            {
                @Html.HiddenFor(c => c.AllAthletes[i].SportsNames[b])
            }
        }

        @for (int i = 0; i < Model.AllCountries.Count(); i++)
        {
            @Html.HiddenFor(x => x.AllCountries[i].Id)
            @Html.HiddenFor(x => x.AllCountries[i].CountryName)
            @Html.HiddenFor(x => x.AllCountries[i].UNDP)
        }

        @for (int i = 0; i < Model.AllSports.Count(); i++)
        {
            @Html.HiddenFor(x => x.AllSports[i].Id)
            @Html.HiddenFor(x => x.AllSports[i].SportName)
            @Html.HiddenFor(x => x.AllSports[i].TeamActivity)
        }

        @for (int i = 0; i < Model.FilterByList.Count(); i++)
        {
            @Html.HiddenFor(x => x.FilterByList[i])
        }

    }

    @using (Html.BeginForm("FilterAthletes", "Home", FormMethod.Post))
    {
<div class="d-flex mb-3">
    <p class="col-md-2 font-weight-bold">Filter by: </p>
    <div class="col-md-2">
        @Html.DropDownListFor(x => x.FilterByList[0], new SelectList(Model.AllCountries, "Id", "CountryName"), "All countries", new { @class = "form-control" })
    </div>
    <div class="col-md-2">
        @Html.DropDownListFor(x => x.FilterByList[1], new SelectList(Model.AllSports, "SportName", "SportName"), "All sports", new { @class = "form-control" })
    </div>
    <div>
        <input type="submit" value="Go" class="btn btn-outline-dark" />
    </div>
    @if (Model.FilterByList[0] != "" || Model.FilterByList[1] != "")
    {
        <div class="col-md-2">
            @Html.ActionLink("Remove filter", "Index", "Home", null, new { @class = "btn btn-outline-primary" })
        </div>
    }

    @for (int i = 0; i < Model.FilterByList.Count(); i++)
    {
        @Html.HiddenFor(x => x.FilterByList[i])
    }

</div>
    }

    <div class="mb-3">
        @Html.ActionLink("Add athlete", "NewAthlete", "Home", null, new { @class = "btn btn-warning" })
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Country</th>
                <th scope="col">Discipline</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AllAthletes)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.CountryName</td>
                    <td>
                        @foreach (var sport in item.SportsNames)
                        {
                            <p>@sport</p>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditAthlete", "Home", new { id = $"{item.Id}" })
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
